@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
@keyframes brilhar{
    0%{ opacity: 0.2;}
    50%{opacity: 1;}
    100%{opacity: 0.2;}
}



.urna{
   
    padding: 20px;
    background-color: grey;
    border-color: rgb(255, 0, 0);
    display: flex;
}
.tela{
    
    width:800px;
    height: 400px;
    background-color: rgb(233, 224, 229);
    display: flex;
    flex-direction: column;
    border: 10px;
}
.teclado{
    margin: 20px;
    width: 500px;
    height: 300px;
    background-color: black;
    display: inline-table;
    align-items: center;
    text-align: center;
}
.teclado button{
    cursor: pointer;
}
#botaoinferior{
    padding: 15px;
    margin: 10px;
    outline: none;
    font-size: 20px;
    
    border-radius: 10px;
    
}
.linhabota{
    margin: 10px;
}
#botaotela{
    margin: 4px;
    width: 29%;
    color: white;
    background-color: black;
    border-color: white;
    border-radius: 15px;
    padding: 10px;
    padding-left:20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
   
}

.tela-cima{
    
    margin:10px 0px 0px 10px;
    flex:1;
    flex-direction: column;
    display: flex;
    
}
.tela-dados span{
    margin: 15% 0 0 15%;
    
}


.tela-baixo{
    
    
    height: 72px;
    font-size: 16px;
    border-top: 2px solid #000;
    display: flex;
    flex-direction: column;
}
.cargo{
    height: 50px;
    
    
}
.cargo-nome{
    display: flex;
    height: 30px;
    
    
    justify-content: center;
    align-items: center;
}
.cargo-escolha{
    height: 80px;
    
    justify-content: center;
    display: flex;
    align-items: center;
        

}
.num{
    display: inline-block;
    width: 40px;
    height: 50px;
    border:1px solid black;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    margin: 0px 0px 0px 10px;
}
.pisca{
    animation-name: brilhar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.cargo-foto{
    flex: 1;
    float: right;
    display: flex;
    height: 50px;
    
    
    
}

.cargo-foto span{
    align-items: flex-end;
    justify-self:self-end;
}
.foto-nome{
    margin-top: 40px;
    margin-left: 2px;
}
.foto{
    height: 110px;
    width: 300px;
    
    margin: 9px;
}
.foto-2{
    margin:20px 0px 0px 60px;
    height: 92px;
    width: 190px;
    
}

.nulo{
    display: flex;
    color: brown;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
.end{
    display: flex;
    font-weight: bold;
    color: rgb(42, 165, 58);
    font-size: 40px;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    flex:1  ;
}